

<form method="post" action="/posts/create" class="mt-5 ml-5 w-25  " id="create_posts">

<div class="form-group">
<label for="title">Titulo</label>
<input name="title" class="form-control" placeholder="Titulo de tu post">
</div>


<div class="form-group">
<label for="content">Contenido</label>
<textarea name="content" class="form-control" placeholder="Contenido de tu post"></textarea>
</div>

<div class="form-group">
<label for="content">Imagen</label>
<input name="image_url" class="form-control" placeholder="Coloca una imagen">
</div>

<%# <div class="form-group">
created_at: <input name="created_at">
</div> %>

<button type="submit" value="Enviar" class=" btn btn-warning"> Publicar </button>

</form>
        <%# <button type="submit" class="btn bg-warning" >Publicar</button> %>
